@model Pizza

@{
    ViewData["Title"] = "Show";
	Layout = "_MyLayout";
}

<div class="container-fluid">
    <h1 class="mt-3">Pizza @Model.Name</h1>
    <hr />
    <img src="@Url.Content(Model.Image)" class="my-4" style="max-width: 200px;" alt="@Model.Name" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            <span class="badge @("text-bg-" + (Model.Category?.Color ?? "secondary d-none"))">@(Model.Category?.Name ?? "")</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
            <div class="d-flex gap-1 flex-wrap">
                @foreach (Ingredient ingredient in Model.Ingredients?.ToList() ?? new List<Ingredient>())
                {
                    <span class="badge rounded-pill bg-secondary">@ingredient.Name</span>
                }
            </div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div>
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a> |
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark text-warning">Edit</a> |
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content glass-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete @Model.Name ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
